/* 
Authors: Barry Nwike and Charles Nykamp
Final Project CS257 F22
 */



/**
    ======= General  =======
**/

html {
    min-height: 100%; /* ensure that the footer remains at the bottom of the page */
}

  
body{
    background-color: lightgreen;

    /* These exist so that page contents don't overlap with the navbar and footer */
    margin-top: 5em;
    margin-bottom: 20em;

    /* font-family: fantasy; */
}


button {
    /* background-color: #04AA6D; */
    background-color: #0b5091;

    width: 80px;
    height: 60px;
    font-family: fantasy;
    color: white;
    cursor: pointer;
}





/**
   ======= Navbar and footer =======
**/

nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1.5em;

    /* background-color: #04AA6D; */
    background-color: #0b5091;
    /* background-color: darkgreen; */
    color: white;

    vertical-align: middle;
    font-size: xx-large;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav img {
    height: 1em;
    padding-left: 1vw;
    padding-right: 0.5vw;
    /* padding-top: 0.3vh; */
}



footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;

    margin: 0.5em;

    text-align: center;
    font-style: italic;
}



/**
    ======= Side-by-side and panels =======
**/


.centered {
    max-width: fit-content;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.split {
    margin-right: 1vw;
}

.panel {
    background-color: white;
    margin-bottom: 2vh;
    padding: 0.5vw;
}   

.panel h3 {
    margin-top: 0vw;
}



/**
    ======= Homepage specific =======
**/

input{
    transition: width 0.4s ease-in-out;
  }
  
input:focus {
    width: 40%;
}
.search{
    text-align: center;
    margin-right: 78%;
}

.pageelements{
    overflow-x: auto;
    border: 5px solid black;
    margin: 1rem;
    padding: 1rem 1rem;
    
}
.introduction{
    display: inline-flex;
    padding: 1rem;
    text-align: left;
    width: 30%;
    margin-top: 10px;
    
}
.searchfunction{
    padding-left: 20px;
    display:inline-flex;
    margin-left: 30px;
    border: 1px solid black;
    text-align: left;
    vertical-align: center;
    
}
#homeicon{
    float: left;
    height: 30%;
    width: 30%;   
    padding-top: 5px;
    object-fit: contain;
}

/* li{
    margin-bottom: 10px;
} */

li img{
    float: left;
    height: 2%;
    width: 2%;   
    padding-right: 5px;
    object-fit: contain;
}



.games{
    margin-bottom: 10px;
}






/**
    ======= Game viewer specific =======
**/


.player {
    display: inline-block;
}

.player .player-name {
    font-style: italic;
}

.player .player-rating {
    font-size: large;
    vertical-align: bottom; 
}

.player img {
    width: 1em;
    height: 1em;
    object-fit: contain;
}



#moves-panel ol {
    column-count: 3;
    column-gap: 7em;
}

#moves-panel button {
    width: 49%;
    /* height: 3em; */
    cursor: pointer;
}


.captured {
    display: flex;    
}

.captured img {
    width: 2em;
    height: 2em;
    object-fit: contain;
}




/**
    ======= Chess gameboard =======
**/

#gameboard tr {
    display: flex;
}

#gameboard td {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard td img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


.black-square {
    background-color: grey;
}

.white-square {
    background-color: white;
}
