/* 
Authors: Barry Nwike and Charles Nykamp
Final Project CS257 F22
 */

body{
    padding-top: 7vh;
    /* background-color: #161b22; */
    background-color: lightgreen;
    /* background-color:#f1f1f1; */
    padding-top: 6vh;

    /* font-family: fantasy; */
}

input{
    transition: width 0.4s ease-in-out;
  }
  
input:focus {
    width: 40%;
}
.search{
    text-align: center;
    margin-right: 78%;
}
button {
    /* background-color: #04AA6D; */
    background-color: #0b5091;

    width: 80px;
    height: 60px;
    font-family: fantasy;
    color: white;
    cursor: pointer;
}
h1{
    text-align: left;
    margin-left: 50px;
}

.pageelements{
    overflow-x: auto;
    border: 5px solid black;
    margin: 1rem;
    padding: 1rem 1rem;
    
}
.introduction{
    display: inline-flex;
    padding: 1rem;
    text-align: left;
    width: 30%;
    margin-top: 10px;
    
}
.searchfunction{
    padding-left: 20px;
    display:inline-flex;
    margin-left: 30px;
    border: 1px solid black;
    text-align: left;
    vertical-align: center;
    
}
#homeicon{
    float: left;
    height: 30%;
    width: 30%;   
    padding-top: 5px;
    object-fit: contain;
}

/* li{
    margin-bottom: 10px;
} */

li img{
    float: left;
    height: 2%;
    width: 2%;   
    padding-right: 5px;
    object-fit: contain;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 6vh;

    /* background-color: #04AA6D; */
    background-color: #0b5091;


    color: white;

    vertical-align: middle;

    font-size: xx-large;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav img {
    height: 4vh;
}

.games{
    margin-bottom: 10px;
}

footer {
    margin-top: 3vh;
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    height: 3vh;
    text-align: center;
    font-style: italic;
}


