/* 
Authors: Barry Nwike and Charles Nykamp
Final Project CS257 F22
*/


.player {
    display: inline-block;
}

.player .player-name {
    font-style: italic;
}

.player .player-rating {
    font-size: large;
    vertical-align: bottom; 
}

.player img {
    width: 1em;
    height: 1em;
    object-fit: contain;
}




.container {
    display: flex;
    flex-wrap: wrap;
}



.left {
    width: 45vw;
}

.panel {
    background-color: white;
    margin: 1vw;
    padding: 0.5vw;
}

.panel h3 {
    margin-top: 0vw;
}




#turn-panel {
    display: flex;
}

#turn-panel > * {
    margin-right: 2vw;
}





#moves-panel ol {
    column-count: 3;
}


#moves-panel button {
    width: 49%;
    /* height: 3em; */
    cursor: pointer;
}



.captured {
    display: flex;    
}


.captured img {
    width: 2em;
    height: 2em;
    object-fit: contain;
}



#gameboard tr {
    display: flex;
}

#gameboard td {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard td img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}


.black-square {
    background-color: grey;
}

.white-square {
    background-color: white;
}
