/* 
Authors: Barry Nwike and Charles Nykamp
Final Project CS257 F22
*/


.player {
    display: inline-block;
}

.player .player-name {
    font-style: italic;
}

.player .player-rating {
    font-size: large;
    vertical-align: bottom; 
}

.player img {
    width: 1em;
    height: 1em;
    object-fit: contain;
}




.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-grow: 1px; */
    /* flex-shrink: 1px; */
    /* flex-basis: 0px; */
    flex-wrap: wrap;


    margin-left: 4vw;
}

.left {
    width: 45vw;
}

/* .container > div {
    margin-top: 2vh;
    margin-right: 1vw;
    margin-bottom: 0vh;
} */




.game-square {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-square {
    background-color: grey;
}

.white-square {
    background-color: white;
}

.game-square img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#gameboard tr {
    display: flex;
}



.captured {
    display: flex;    
}


.captured img {
    width: 5vh;
    height: 5vh;
    object-fit: contain;
}




#info-panel {
    /* box-sizing: border-box; */
    /* border-width: 1wh;
    border-color: black; */
    /* border: solid; */
    /* padding-left: 1vw;
    padding-top: 0vh; */
}

#moves-panel ol {
    /* display: flex; */
    /* flex-wrap: wrap; */
    column-count: 3;
}

#moves-panel li {
    /* display: inline-flex; */
    padding: 0px;
    margin: 0px;
}

#game-viewer button {
    width: 49%;
    height: 3em;
    cursor: pointer;
}

/* #gameboard {
    margin-bottom: 2vh;
    border-width: 2wh;
    border-color: black;
    border-style: inset;
} */



hr {
    border-color: black;
}
