{% extends "layout.html" %}

{% block head_extension %}
<script>
    var boardPositions = JSON.parse('{{ game_data.board_positions|tojson }}');
    var capturedPieces = JSON.parse('{{ game_data.captured_pieces|tojson }}');
</script>

<script type='text/javascript' src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}


{% block content %}

<div class="centered">

    <h1>
        Game:
        <div class="player">
            <span class="player-name">{{ game_data.white_username }}</span>
            <img src="{{ url_for('static', filename='images/king-white.png') }}" />
            <span class="player-rating">{{ game_data.white_rating }}</span>
        </div>                    

        vs
    
        <div class="player">
            <span class="player-name">{{ game_data.black_username }}</span>
            <img src="{{ url_for('static', filename='images/king-black.png') }}" />
            <span class="player-rating">{{ game_data.black_rating }}</span>
        </div>
    </h1>

    <div class='container'>

        <div class='split'>

            <div class="panel">
                <b>Winner:</b> {{ game_data.winner }}<br/>
                <b>Victory status:</b> {{ game_data.victory_status }}<br/>
                <b>Openings:</b>

                {% for opening in game_data.opening_names %}
                    {{ opening }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>

            <div class="panel">
                <h3>Stats</h3>
                <b>Checks:</b> {{ game_data.checks }}<br/>
                <b>Captures:</b> {{ game_data.captures }}<br/>
                <b>Promotions:</b> {{ game_data.promotions }}<br/>
                <b>En passants:</b> {{ game_data.en_passants }}<br/>

            </div>
            
            <div id="moves-panel" class="panel">

                <div class="inline">
                    <h3>Moves: <span id="turn-counter">0</span>/{{ game_data.turns }}</h3>
                    <button
                        onmousedown="startMovingBackward()"
                        onmouseup="stopMoving()"
                        onmouseout="stopMoving()"
                    >&#9668; Back</button>
                    <button
                        onmousedown="startMovingForward()"
                        onmouseup="stopMoving()"
                        onmouseout="stopMoving()"
                >Forward &#9658;</button>
                </div>

                <em>Arrow keys or buttons to move</em><br/>
                <em>Click move to jump</em>

                <div id="moves-list">
                    <ol>
                    {% set moves = game_data.moves.split(' ') %}
                    {% for i in range(0, moves|length) %}
                        <li onclick="setMove(Number('{{i}}') + 1)">{{ moves[i] }} </li>
                    {% endfor %}
                    </ol>                        
                </div>    

            </div>

            <div class="panel">
                <h3>Captured</h3>
                <div id='captured'></div>
            </div>
        

        </div>

        <div class='split'>
            <table id="gameboard" class="split"></table>    
        </div>


    </div>



</div>


{% endblock %}