{% extends "layout.html" %}

{% block head_extension %}
<script>
    var boardPositions = JSON.parse('{{ game_data.board_positions|tojson }}');
    var capturedPieces = JSON.parse('{{ game_data.captured_pieces|tojson }}');

    var intervalForward;
    var intervalBack;
</script>

<script type='text/javascript' src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}


{% block content %}

<div class="centered">

    <h1>
        Game:
        <div class="player">
            <span class="player-name">{{ game_data.white_username }}</span>
            <img src="{{ url_for('static', filename='images/king-white.png') }}" />
            <span class="player-rating">{{ game_data.white_rating }}</span>
        </div>                    

        vs
    
        <div class="player">
            <span class="player-name">{{ game_data.black_username }}</span>
            <img src="{{ url_for('static', filename='images/king-black.png') }}" />
            <span class="player-rating">{{ game_data.black_rating }}</span>
        </div>
    </h1>

    <div class='container'>

        <div class='split'>

            <div class="panel">
                <b>Winner:</b> {{ game_data.winner }}<br/>
                <b>Victory status:</b> {{ game_data.victory_status }}<br/>
                <b>Openings:</b> {{ game_data.opening_names }}<br/>
            </div>

            <div class="panel">
                <h3>Stats</h3>
                <b>Checks:</b> {{ game_data.checks }}<br/>
                <b>Captures:</b> {{ game_data.captures }}<br/>
                <b>Promotions:</b> {{ game_data.promotions }}<br/>
                <b>En passants:</b> {{ game_data.en_passants }}<br/>

            </div>
            
            <div id="moves-panel" class="panel">

                <div class="inline">
                    <h3>Moves: <span id="turn-counter">0</span>/{{ game_data.turns }}</h3>
                    <button
                        onmousedown="clearInterval(intervalBack); previousTurn(); intervalForward=setInterval(previousTurn, 200)"
                        onmouseup="clearInterval(intervalForward)"
                    >&#9668; Back</button>
                    <button
                        onmousedown="clearInterval(intervalForward); nextTurn(); intervalBack=setInterval(nextTurn, 200)"
                        onmouseup="clearInterval(intervalBack)"
                    >Forward &#9658;</button>
                </div>

                <div id="moves-list">{{ game_data.moves }}</div>

            </div>

            
            <div class="panel">
                <h3>Captured</h3>
                <div id='captured'></div>
            </div>

        

        </div>


        <table id="gameboard" class="split"></table>

    </div>



</div>


{% endblock %}