{% extends "layout.html" %}

{% block head_extension %}
<script type = "text/javascript" src = "{{ url_for('static', filename='index.js') }} "></script>
{% endblock %}



{% block content %}



<div class="searchfunction centered info-table">

    <h1 class="panel without-space-below">Find games where...</h1> 
    <table>
        <tr>
            <td class="panel without-space-below">
                <h3>Players</h3>
                <ul>
                    <li><em>Username </em><br/><input id = "user_search" placeholder="ex: avocado"></li>
                    <li><em>Rating min </em><br/><input id="below_rate_search" type="number" step="20"></li>
                    <li><em>Rating max </em><br/><input id="above_rate_search" type="number" step="20"></li>
                </ul>
            </td>
        
            <td class="panel without-space-below">
                <h3>Outcome</h3>
                <ul>
                    <li><em>Winner</em><br/>
                        
                        <input type="radio" name="winner-search" value="">Any</input><br/>
                        <input type="radio" name="winner-search" value="black">Black</input><br/>
                        <input type="radio" name="winner-search" value="white">White</input><br/>
                        <input type="radio" name="winner-search" value="draw">Draw</input><br/>

                    </select></li>
                </ul>        
        
            </td>
        
        
            <td class="panel without-space-below">
                <h3>Opening</h3>
                <ul>
                    <li><em>Opening name</em><br/><input id = "opening_name_search" placeholder="ex: scandinavian"></li>
                    <li><em>Opening moves</em><br/><input id = "opening_moves_search" placeholder="ex: e4 e5"></li>
                </ul>        
            </td>
        
            <td class="panel without-space-below">
                <h3>Gameplay</h3>
                <ul>
                    <li><em>Moves </em><br/><input id = "moves_search" placeholder="ex: Qxf4"></li>
                    <li><em>Move count</em><br/><input id = "movenumb_search" type="number"></li>    
                </ul>        
            </td>
        
            <td class="panel without-space-below">
                <h3>Stats</h3>
                <ul>
                    <li><em>Checks</em><br/><input id = "checks_search" type="number"></li>    
                    <li><em>Captures </em><br/><input id = "captures_search" type="number"></li>
                    <li><em>Promotions </em><br/><input id = "promotions_search" type="number"></li>
                    <li><em>Castles </em><br/><input id = "castles_search" type="number"></li>
                    <li><em>En passants </em><br/><input id = "en_passants_search" type="number"></li>


                </ul>        
            </td>
        
        </tr>
    </table>


    <div class="centered">
        <button id ="searchbutton" style="text-shadow: 100px;">Search</button>
    </div>    
</div>


<div id="content-right">
    <div id="searchResults" class="info-table centered"></div>
    <div id="more-results" class="centered"></div>
</div>



{% endblock %}